@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    margin: 0;
    font-weight: normal;
    background-color: #1A1A1A !important;
}

.container {
    width: 1000px;
    max-width: 100%;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.pink {
    background-color: #EB0045;
}

.sky_blue {
    background-color: #0191C9;
}

.olive {
    background-color: #9EAF21;
}

.text-olive {
    color: #9EAF21;
}

.orange {
    background-color: #F04E42;
}

.blue {
    background-color: #4460A6;
}

.purple {
    background-color: #805475;
}

.main-container {
    width: 100%;
    max-width: 100%;
    margin: 52px auto 0;
    background-color: #1A1A1A;
    min-height: 100vh;
}

.header {
    background-color: #252525;
    border-bottom: 2px solid #303030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header .header-block {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 0;
}

.header .logo>a {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.header .logo>a>.yellow,
.text-yellow {
    color: #F5A623;
}

.header .logo>a:hover {
    text-decoration: none;
}

.header .profile .user-thumb {
    border-radius: 50%;
    overflow: hidden;
    display: block;
    max-width: 30px;
    color: #979797;
    font-size: 1.33rem !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 0 !important;
}

.header .profile .user-thumb>img {
    display: block;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.header .tab-content {
    padding: 15px 0 0 0 !important;
}

.header .form_block {
    top: 53px;
    max-width: 100%;
    z-index: 10;
    background-color: #252525;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 0 !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
}

#profile_block {
    top: 52.5px !important;
    bottom: 0.01px !important;
    max-height: 100vh !important;
    overflow-y: auto;
    top: 52.5px !important;
}

/* .header .form_block .btn {
    border-radius: 0 !important;
} */

.header .form_block .form-group,
#contact_modal .modal-content .form-group {
    margin-bottom: 0.1rem;
}

.header .form_block #formTab {
    border: 1px solid #979797;
    border-radius: 0;
}

.header .form_block #formTab li {
    width: 50%;
    text-align: center;
    border-radius: 0;
}

.header .form_block #formTab li .nav-link {
    border-radius: 0;
    color: #979797;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header .form_block #formTab li .nav-link.active {
    border-radius: 0;
    color: #fff;
    background-color: #979797;
    border-color: #979797;
}

.header .form_block .form-control,
#payment-form .form-control,
#contact_modal .modal-content .form-control,
#connect_form .form-control {
    border: 1px solid #979797;
    color: #979797;
    background-color: transparent;
    border-radius: 0;
    /* font-size: 0.875rem; */
    font-size: 0.8rem;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.header .form_block .form-control {
    border-radius: .5rem;
}

#payment-form .form-control {
    color: #495057 !important;
    background-color: white;
}

#payment-form .form-control:read-only {
    background-color: transparent !important;
}

.header .form_block .btn-primary,
#contact_modal .modal-content .btn-primary {
    color: #fff;
    background-color: #F5A623;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    border-radius: .5rem;
}

/* .header .form_block .btn {
    font-weight: 600;
} */

.header .form_block .btn {
    border-radius: .5rem;
}

.main-content {
    min-height: calc(100vh - 120px);
}

.main-content .accordion .btn {
    text-align: center;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 6px;
}

.main-content .accordion .tab_btn {
    width: 100%;
    /* width: 80%;
    -webkit-transition: width .5s;
    transition: width .5s; */
    margin: 0 auto;
    border-radius: 0;
}

.main-content .accordion .tab_btn.collapsed {
    box-shadow: none !important;
    width: 100%;
    /* -webkit-transition: width .5s, box-shadow .5s;
    transition: width .5s; */
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.main-content .accordion .tab_btn .icon {
    margin-right: 10px;
    display: inline-block;
    max-height: 20px;
}

.main-content .tab-content .card {
    /* box-shadow: 0px 2px 10px #000000; */
    margin-bottom: 10px;
    border: 0;
    position: relative;
}

.main-content .tab-content .card .card-title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.main-content .tab-content .card .card-sub-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.main-content .tab-content .card .card-text,
.main-content .tab-content .card .card-text-intro {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 15px;
}

.main-content .tab-content .card .card-footer {
    padding: 0;
}

.main-content .tab-content .card .reg_btn {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 100%;
    border-radius: 0;
}

.main-content .tab-content .card .two_btn {
    display: flex;
    overflow: hidden;
}

.main-content .tab-content .card .two_btn .reg_btn {
    display: inline-flex;
    width: 50%;
    border-radius: 0;
}

.main-content .tab-content .card .two_btn .btn_b {
    border-right: 3px solid rgba(255, 255, 255, 0.2);
}

.main-content .tab-content .card .msg_nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    background-color: #0185b8;
}

.main-content .tab-content .card .msg_nav .left_nav {
    position: absolute;
    left: 15px;
    top: 5px;
}

.main-content .tab-content .card .msg_nav .right_nav {
    position: absolute;
    right: 15px;
    top: 5px;
}

.main-content .tab-content .card .msg_nav .left_nav a {
    display: inline-block;
    margin-right: 10px;
}

.main-content .tab-content .card .msg_nav .right_nav a {
    display: inline-block;
    margin-left: 10px;
}

.main-content .tab-content .card .msg_nav .title {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.main-content .tab-content .card .grey_block {
    margin: 0px -0.6rem 15px;
    padding: 15px 10px 1px 10px;
    background: #d8d8d8;
}

.main-content .tab-content .card .grey_btn {
    font-size: 14px;
    background: transparent;
    color: #D8D8D7;
    border: 1px solid #D8D8D7;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}

.main-content .tab-content .card .white_btn {
    font-size: 14px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}

.main-content .tab-content .card .form-control {
    border-radius: 0;
    border: 1px solid #2c2c2c;
    font-size: 13px !important;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.main-content .tab-content .card hr {
    background-color: #000000;
    border-width: 1px 0 0;
}

.footer-text {
    font-size: 12px;
    color: #474747;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    display: block;
}

.font_semi {
    font-weight: 600;
}

.font_bold {
    font-weight: 700;
}

/* ----------------------------- extended code ----------------------------- */

.display_none {
    display: none !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-14 {
    margin-top: 14px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-29 {
    margin-top: 29px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-32 {
    margin-top: 32px !important;
}

.m-t-34 {
    margin-top: 34px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.input-validation-error {
    border: solid 1px #ff0000 !important;
}

#prev_msg {
    margin-bottom: 20px !important;
}

.card-header {
    background-color: #f2f2f2 !important;
}

.card-body {
    padding: 10px !important;
    background-color: #f2f2f2 !important;
}

.main-content .tab-content .card .card-text p {
    margin-bottom: 0px;
}

.title {
    color: #ffffff !important;
    font-weight: 700 !important;
}

.main_subtitle {
    padding-bottom: 0px !important;
    text-transform: uppercase !important;
}

.point_text {
    color: #252525;
}

.video_height {
    height: 450px;
    display: block;
}

.rotate_180 {
    transform: rotate(180deg);
}

.disable_now {
    opacity: 0.5;
}

.mb-minus-5 {
    margin-bottom: -5px !important;
}

.grey {
    background-color: gray !important;
}

.bg-yellow {
    background-color: #F5A623 !important;
}

.header .form_block .form_block_content {
    max-width: 1000px !important;
    margin: 0 auto !important;
    padding: 15px 25px 15px 25px !important;
}

.header .form_block #formTab li .nav-link.fake_active {
    border-radius: 0;
    color: #fff;
    background-color: #979797;
    border-color: #979797;
}

.header .form_block .btn-danger {
    color: #fff;
    font-weight: 700;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    border-radius: .5rem;
    background-color: #bd362f;
}

.btn {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
}

.btn[type="submit"]:active,
.btn[type="submit"]:focus,
.btn[disabled] {
    background-color: grey !important;
}

#profile_image {
    display: none;
}

.profile_label {
    cursor: pointer;
}

#profile_image_preview {
    width: 120px;
    height: 120px;
    padding: 0 !important;
    border: 1px solid #979797;
    border-radius: 50% !important;
    display: block !important;
    background-color: #252525;
    object-fit: cover !important;
}

.image-text-centered {
    position: absolute;
    color: #979797;
    text-align: center;
    top: 16%;
    left: 51%;
    font-size: 10px;
    transform: translate(-50%, -50%);
}

.min-height_give {
    min-height: 100px !important;
}

.min-width-btn {
    width: 250px !important;
    max-width: 250px !important;
}

.form_block .field_label,
#payment-form .field_label,
#backoffice_login .card .card-body .field_label,
#contact_modal .modal-content .field_label,
#connect_form .field_label {
    color: #979797;
    font-weight: 600;
    margin-bottom: 0px !important;
    padding-left: 5px;
    font-size: 13px;
}

.header .form_block .form-control:focus {
    border: 1px solid orange;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 0px);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

#password_indicator,
#password_indicator_profile {
    font-size: 13px;
    padding-right: 6px;
}

.backoffice-container {
    background-color: #1A1A1A;
    min-height: 100vh;
}

#backoffice_login .card .card-body {
    background-color: #252525 !important;
    padding: 15px 20px !important;
}

#backoffice_login .card {
    background-color: #252525 !important;
    -webkit-box-shadow: 0 8px 6px black;
    -moz-box-shadow: 0 8px 6px black;
    box-shadow: 0 8px 6px black;
}

#backoffice_login .card .card-body .form-control {
    border: 1px solid #979797;
    color: #979797;
    background-color: transparent;
    border-radius: .5rem;
    font-size: 0.875rem;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#backoffice_login .card .card-body .form-control:focus {
    border: 1px solid orange;
}

#backoffice_login .card .card-body .btn-primary {
    color: #fff;
    font-weight: 700;
    background-color: #F5A623;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    border-radius: .5rem;
}

p.forgot-pass {
    margin-top: 15px !important;
}

p.forgot-pass>a {
    color: #979797 !important;
    text-decoration: underline !important;
    font-size: 13px !important;
}

.card-img-top {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.btn-group-custom {
    border-radius: .5rem !important;
    border: 1px solid #979797 !important;
}

.btn-group-custom .btn {
    font-size: 13px !important;
    color: #979797;
    text-transform: uppercase !important;
    border: none;
}

.btn-group-custom .btn:nth-child(1) {
    border-bottom: 1px solid #979797;
}

.btn-group-custom .btn.active {
    border-radius: 0;
    color: #fff !important;
    background-color: #979797;
    border-color: #1a1a1a !important;
}

.btn-group-custom .btn.active:nth-child(1) {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.btn-group-custom .btn.active:nth-child(2) {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.main-container .panel .card {
    background-color: #1a1a1a !important;
}

#tabs_accordion span.close {
    opacity: -100;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.09rem + 0px);
}

.hide {
    display: none;
}

/* contact modal */

#contact_modal .modal-content {
    background-color: #1a1a1a;
    color: #979797;
}

#contact_modal .modal-content .modal-header {
    border-color: #979797;
}

.modal-open {
    padding: 0 !important;
    overflow-y: scroll;
}

.modal-open .modal {
    padding: 0 !important;
}

@media (min-width: 320px) and (max-width: 374px) {
    .image-text-centered {
        top: 8% !important;
        left: 29.5% !important;
        transform: translate(0%, 0%) !important;
    }

    .header-block .logo>a {
        font-size: 0.92rem !important;
    }

    .header .form_block {
        max-height: 90vh;
        overflow-y: auto;
    }

    .main-content {
        padding: 0 !important;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    .image-text-centered {
        top: 8% !important;
        left: 25% !important;
        transform: translate(0%, 0%) !important;
    }

    .header-block .logo>a {
        font-size: 0.9375rem !important;
    }

    .header .form_block {
        max-height: 90vh;
        overflow-y: auto;
    }

    .main-content {
        padding: 0 !important;
    }
}

@media (min-width: 414px) and (max-width: 736px) {
    .image-text-centered {
        top: 8% !important;
        left: 27% !important;
        transform: translate(0%, 0%) !important;
    }

    .header-block .logo>a {
        font-size: 0.9375rem !important;
    }

    .header .form_block {
        max-height: 90vh;
        overflow-y: auto;
    }

    .main-content {
        padding: 0 !important;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .video_height {
        height: 218px;
    }

    .vimeo_margin {
        margin-top: 27px;
    }

    .header-block .logo>a {
        font-size: 0.9375rem !important;
    }

    .header .form_block {
        max-height: 90vh;
        overflow-y: auto;
    }

    .form_block .field_label {
        font-size: 0.625rem !important;
    }

    #password_indicator,
    #password_indicator_profile {
        font-size: 0.625rem !important;
    }

    .main-content {
        padding: 0 !important;
    }
}

.history-end {
    margin: -0.3% auto 10px auto;
    background-color: #979797;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    color: #fff;
    font-size: 10px;
    padding: 5px 0;
    min-width: 80%;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .main-content {
        padding: 0 !important;
    }

    .header .form_block .form-control,
    #payment-form .form-control,
    #contact_modal .modal-content .form-control,
    #connect_form .form-control {
        font-size: 0.625rem;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(1.85rem + 0px);
    }

    .history-end {
        margin: -0.8% auto 10px auto;
    }
}